* {
    box-sizing: border-box;
    margin: 0;

}

body {}

.row {
    display: flex;

}

.display-row {
    background-color: #00a2aa;

}

.display {
    width: 330px;
    background-color: #df8632;

}

.button {
    background-color: #00a2aa;
    width: 110px;
    height: 110px;
    color: #ffffffb1;
    text-align: center;
    display: inline-block;
    font-size: 22px;
    cursor: pointer;

}

#main {
    flex-wrap: wrap;
    /* flex: content;
    border-style: solid; */

}